/* 
Dificuldades: Como usar position, como alinhar algo no rodape da pagina, 
como usar hover apenas em um elemento, escolha de cores, qual unidade de medida usar(px, rem, em)
*/
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --aquamarine: #7fffd4;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

a:hover {
  color: var(--aquamarine);
}

.container {
  background-color: var(--dark-cyan);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.navBar {
  text-transform: capitalize;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.navBar div:hover {
  color: var(--dark-blue);
}

.navBar_options {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_description {
  margin-top: 0.9 rem;
}

.content_photo img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.content_hello {
  margin: 0.9rem 0 0 0.9rem;
}

.footer {
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_redes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.footer_redes-name {
  font-weight: 300;
}
